fail2ban:
  lookup:
    pt_actions:
      iptables-multiport-nat:
        Definition:
          actionstart: |
              iptables -N fail2ban-<name>
              iptables -A fail2ban-<name> -j RETURN
              iptables -I FORWARD -p <protocol> -m multiport --dports <port> -j fail2ban-<name>

          actionstop: |
              iptables -D FORWARD -p <protocol> -m multiport --dports <port> -j fail2ban-<name>
              iptables -F fail2ban-<name>
              iptables -X fail2ban-<name>

          actioncheck: iptables -n -L FORWARD | grep -q fail2ban-<name>

          actionban: iptables -I fail2ban-<name> 1 -s <ip> -j DROP

          actionunban: iptables -D fail2ban-<name> -s <ip> -j DROP

        Init:
          name: default
          port: smtp,ssmtp
          protocol: tcp
          chain: FORWARD

    pt_jails:
      postfix:
        enabled: 'true'
        port: smtp,ssmtp
        filter: postfix
        logpath: /var/log/mail.log
