{% set fail2ban = salt['grains.filter_by']({
    'Debian': {
        'package': 'fail2ban',
        'service': 'fail2ban',
        'config': {},
        'jails': {},
        'actions': {},
        'filters': {},
    },
    'Gentoo': {
        'package': 'net-analyzer/fail2ban',
        'service': 'fail2ban',
        'config': {},
        'jails': {},
        'actions': {},
        'filters': {},
    },
    'RedHat': {
        'package': 'fail2ban',
        'service': 'fail2ban',
        'config': {},
        'jails': {},
        'actions': {},
        'filters': {},
    },
}, merge=salt['pillar.get']('fail2ban:lookup')) %}
